//- Animate step block

.animate-step
  p.animate-step__title <b>Процесс</b> упаковки вашей франшизы
  .animate-step__wrapper 
    .anim-step#step1
      p.anim-step__number 01
      p.anim-step__title Сбор информации и создание концепции франшизы
      p.anim-step__descr Проводим несколько встреч с Заказчиком, документируем наличие материалов и финансовые показатели действующих точек, а так же собираем материалы для дальнейшей упаковки
    .anim-step#step2
      p.anim-step__number 02
        p.anim-step__title Упаковка операционной деятельности вашей компании
        p.anim-step__descr Эксклюзивная методика опросов, собираем все файлы в интерактивной Базе Знаний - уникальной разработке нашей компании
    .anim-step#step3
      p.anim-step__number 03
        p.anim-step__title Создание маркетинговых материалов для франшизы
        p.anim-step__descr Пишем франчайзинговое предложение, создаем уникальный дизайн маркетинговых материалов, при необходимости создаем брендбук и его составляющие​
    .anim-step#step4
      p.anim-step__number 04
        p.anim-step__title Юридическая упаковка и финансовая модель
        p.anim-step__descr Составляем индивидуальный договор коммерческой концессии и подготавливаем предварительный договор с финансовой моделью​
    .anim-step#step5
      p.anim-step__number 05
        p.anim-step__title Подготовака и настройка рекламной компании
        p.anim-step__descr Настраиваем рекламу под ключ в 4х рекламных системах, формируем отдел продаж и запускаем рекламные кампании
    .anim-step#step6
      p.anim-step__number 06
        p.anim-step__title Запуск франшизы и первые продажи
        p.anim-step__descr Запускаем рекламу, повышаем показатель конверсии и обеспечиваем вас максимально качественными и недорогими заявками от потенциальных клиентов