//- Blog block

.blog
  .container
    p.blog__breadcrums Блог / 24 июля 2022 / 8 минут назад 
    p.blog__title Вот такой путь мы проделаем в вашем бизнесе
    .blog__trigger 
      p.blog__descr Каждая компания должна иметь автоматизированные бизнесс-процессы. И не обязательно перед запуском франшизы, эти процессы необходимы для роста вашей компании!
      a.red-button(href="#") Перейти к блогам 
        img(src="img/blog_arrow.svg", alt="arrow")
