//- blog-welcome block
.container-lg.welcome.welcome-start.welcome-blog
  .title-row 
      p.title-row__text Блог
      a.title-row__phone-link(href="tel:87011017059") 
        img(src="img/phone_icon.svg", alt="phone-icon")
        |+7 701 101 7059
  .welcome__inner
    p.welcome__title Блог


