//- Clients block

.clients.container 
  .clients__title Наши клиенты
  .clients__descr 
    |С 2008 года мы занимаемся систематизацией и маркетинговым продвижением различных бизнесов, с 2020 года работаем с лидерами рынка франчайзинга, в развитии которых мы приняли непосредственное участие
    br
    br
    |К каждому проекту мы подходим индивидуально и применяем свой многолетний опыт: команда экспертов в кооперации с командой маркетологов поможет вывести его на новый международный уровень
  .clients-logo 
    .client 
      img(src="img/clients/client1.jpg", alt="client logo")
    .client 
      img(src="img/clients/client2.jpg", alt="client logo")
    .client 
      img(src="img/clients/client3.jpg", alt="client logo")
    .client 
      img(src="img/clients/client4.jpg", alt="client logo")
    .client 
      img(src="img/clients/client5.jpg", alt="client logo")
    .client 
      img(src="img/clients/client6.jpg", alt="client logo")
    .client 
      img(src="img/clients/client7.jpg", alt="client logo")
    .client 
      img(src="img/clients/client8.jpg", alt="client logo")
    .client 
      img(src="img/clients/client9.jpg", alt="client logo")
    .client 
      img(src="img/clients/client10.jpg", alt="client logo")
    .client 
      img(src="img/clients/client11.jpg", alt="client logo")
    .client 
      img(src="img/clients/client12.jpg", alt="client logo")
    .client 
      img(src="img/clients/client13.jpg", alt="client logo")
    .client 
      img(src="img/clients/client14.jpg", alt="client logo")
    .client 
      img(src="img/clients/client15.jpg", alt="client logo")
    .client
      img(src="img/clients/client16.jpg", alt="client logo")
    .client 
      img(src="img/clients/client17.jpg", alt="client logo")
    .client 
      img(src="img/clients/client18.jpg", alt="client logo")
    .client 
      img(src="img/clients/client19.jpg", alt="client logo")