//- example block

.container.example#case
  p.example__title <b>Упавковка</b> франшизы <br> путь к <b>лидерству</b>

  .example-item 
    .example-item__text 
      p.example-item__title Самая быстрорастущая сеть барершопов в мире
      p.example-item__descr 
        |Стратегия быстро развития и «захвата» пустой бизнес-ниши. Компания оказывает комплекс услуг по мужским стрижкам и уходу за волосами.
        br
        br
        |2014 год - открытие первого барбершопа. Сейчас - самая крупная сеть барбершопов в России, более 300 франшиз продано
    .example-item__logo 
      img(src="img/brand/topgun.png", alt="topgun logo")

  .example-item
    .example-item__text 
      p.example-item__title Cеть ресторанов быстрого обслуживания
      p.example-item__descr 
        |В 1974 году перешли на модель франчайзинга имея 16 собственных ресторанов в Коннектикуте. На данный момент это самая популярная франшиза в мире.
        br
        br
        |Что интересно, в сети Subway работает более 44 тысяч заведений в 110-ти странах мира. И при этом самой компании не принадлежит ни одного! Все заведения являются франчайзинговыми
    .example-item__logo 
      img(src="img/brand/subway.png", alt="subway logo")

  .example-item
    .example-item__text 
      p.example-item__title Лидирующая сеть школ скорочтения
      p.example-item__descr 
        |Создание лидирующей сети в сфере оказания услуг по развитию детей и увеличение уровня образования на территории России
        br 
        br 
        |2013 год - открытие первой школы IQ007 На данный момент более 200 франшиз продано 2013 год - открытие первой школы IQ007 На данный момент более 200 франшиз продано
    .example-item__logo 
      img(src="img/brand/iq007.png", alt="iq007 logo")

  .example-item
    .example-item__text 
      p.example-item__title Быстрорастущая образовательная франшиза SAPSAN
      p.example-item__descr 
        |Школа развития интеллекта Sapsan – это развитие когнитивных способностей и гибких навыков. Международная сеть насчитывает уже 70 центров в разных странах мира
        br
        br
        a.example-item__read-more(href="#") Читать польностью
    .example-item__logo 
      img(src="img/brand/sapsan.png", alt="sapsan logo")