//- Feedback block

.feedback.container
  .feedback__title <b>Отзывы</b> о команде
  .feedback-slider 

    .feedback-slide
      .feedback-slide__user 
        img.feedback-slide__photo(src="img/user_photo.png", alt="user photo")
        p.feedback-slide__name Лариса Фирстова
        p.feedback-slide__post Основатель и Директор <br> детского сада "AltynSara", <br> Нур-Султан
      p.feedback-slide__text 
        |"ДОЦ «Алтын Сара» обратилось в компанию Caspian Invest Group Ltd с вопросом упаковки во франшизу нашего Монтессори центра. Команда провела большую работу по предфраншизной подготовке бизнеса и всех процессов к тиражированию.
        br
        br
        |Проведена работа по систематизации операционной деятельности, регламентировали образовательные процессы, провели стратегические сессии в результате которых появилась новая продуктовая линейка. 
        br
        |Команда упаковала и подготовила к продвижению новые продукты, а также провела маркетинговый анализ рынка, рассчитала потенциал каждого нового продукта и предоставила рекомендации по открытым рынкам в регионах
        br
        br
        |Сейчас мы ведем переговоры с потенциальными франчайзи в других городах. Сотрудничеством довольны, рекомендуем команду к партнерству!"

    .feedback-slide
      .feedback-slide__user 
        img.feedback-slide__photo(src="img/user_photo.png", alt="user photo")
        p.feedback-slide__name Лариса Фирстова
        p.feedback-slide__post Основатель и Директор <br> детского сада "AltynSara", <br> Нур-Султан
      p.feedback-slide__text 
        |"ДОЦ «Алтын Сара» обратилось в компанию Caspian Invest Group Ltd с вопросом упаковки во франшизу нашего Монтессори центра. Команда провела большую работу по предфраншизной подготовке бизнеса и всех процессов к тиражированию.
        br
        br
        |Проведена работа по систематизации операционной деятельности, регламентировали образовательные процессы, провели стратегические сессии в результате которых появилась новая продуктовая линейка. 
        br
        |Команда упаковала и подготовила к продвижению новые продукты, а также провела маркетинговый анализ рынка, рассчитала потенциал каждого нового продукта и предоставила рекомендации по открытым рынкам в регионах
        br
        br
        |Сейчас мы ведем переговоры с потенциальными франчайзи в других городах. Сотрудничеством довольны, рекомендуем команду к партнерству!"

    .feedback-slide
      .feedback-slide__user 
        img.feedback-slide__photo(src="img/user_photo.png", alt="user photo")
        p.feedback-slide__name Лариса Фирстова
        p.feedback-slide__post Основатель и Директор <br> детского сада "AltynSara", <br> Нур-Султан
      p.feedback-slide__text 
        |"ДОЦ «Алтын Сара» обратилось в компанию Caspian Invest Group Ltd с вопросом упаковки во франшизу нашего Монтессори центра. Команда провела большую работу по предфраншизной подготовке бизнеса и всех процессов к тиражированию.
        br
        br
        |Проведена работа по систематизации операционной деятельности, регламентировали образовательные процессы, провели стратегические сессии в результате которых появилась новая продуктовая линейка. 
        br
        |Команда упаковала и подготовила к продвижению новые продукты, а также провела маркетинговый анализ рынка, рассчитала потенциал каждого нового продукта и предоставила рекомендации по открытым рынкам в регионах
        br
        br
        |Сейчас мы ведем переговоры с потенциальными франчайзи в других городах. Сотрудничеством довольны, рекомендуем команду к партнерству!"
    

    .feedback-slide
      .feedback-slide__user 
        img.feedback-slide__photo(src="img/user_photo.png", alt="user photo")
        p.feedback-slide__name Лариса Фирстова
        p.feedback-slide__post Основатель и Директор <br> детского сада "AltynSara", <br> Нур-Султан
      p.feedback-slide__text 
        |"ДОЦ «Алтын Сара» обратилось в компанию Caspian Invest Group Ltd с вопросом упаковки во франшизу нашего Монтессори центра. Команда провела большую работу по предфраншизной подготовке бизнеса и всех процессов к тиражированию.
        br
        br
        |Проведена работа по систематизации операционной деятельности, регламентировали образовательные процессы, провели стратегические сессии в результате которых появилась новая продуктовая линейка. 
        br
        |Команда упаковала и подготовила к продвижению новые продукты, а также провела маркетинговый анализ рынка, рассчитала потенциал каждого нового продукта и предоставила рекомендации по открытым рынкам в регионах
        br
        br
        |Сейчас мы ведем переговоры с потенциальными франчайзи в других городах. Сотрудничеством довольны, рекомендуем команду к партнерству!"

    .feedback-slide
      .feedback-slide__user 
        img.feedback-slide__photo(src="img/user_photo.png", alt="user photo")
        p.feedback-slide__name Лариса Фирстова
        p.feedback-slide__post Основатель и Директор <br> детского сада "AltynSara", <br> Нур-Султан
      p.feedback-slide__text 
        |"ДОЦ «Алтын Сара» обратилось в компанию Caspian Invest Group Ltd с вопросом упаковки во франшизу нашего Монтессори центра. Команда провела большую работу по предфраншизной подготовке бизнеса и всех процессов к тиражированию.
        br
        br
        |Проведена работа по систематизации операционной деятельности, регламентировали образовательные процессы, провели стратегические сессии в результате которых появилась новая продуктовая линейка. 
        br
        |Команда упаковала и подготовила к продвижению новые продукты, а также провела маркетинговый анализ рынка, рассчитала потенциал каждого нового продукта и предоставила рекомендации по открытым рынкам в регионах
        br
        br
        |Сейчас мы ведем переговоры с потенциальными франчайзи в других городах. Сотрудничеством довольны, рекомендуем команду к партнерству!"


  .slider__control-btn 
    button.slider__button.slider__prev#prev-slide-2
      img(src="img/prev-arrow.svg", alt="prev slide")
    button.slider__button.slider__next#next-slide-2
      img(src="img/next-arrow.svg", alt="next slide")