//- Feedback block

.feedback.container
  .feedback__title <b>Отзывы</b> о команде
  .feedback-slider 

    .feedback-slide Слайд 1
    .feedback-slide Слайд 2
    .feedback-slide Слайд 3
    .feedback-slide Слайд 4
    .feedback-slide Слайд 5


  .slider__control-btn 
    button.slider__button.slider__prev#prev-slide-2
      img(src="img/prev-arrow.svg", alt="prev slide")
    button.slider__button.slider__next#next-slide-2
      img(src="img/next-arrow.svg", alt="next slide")