//- Footer blog

footer.footer#contacts 
  .container 
    .footer__info 
      .footer__col 
        img(src="img/footer_logo_1.svg", alt="logo")
        p.footer__text Упаковать франшизу под ключ в Центре Развития Франчайзинга с гарантией продаж франшизы

      .footer__col 
        img(src="img/footer_logo_2.svg", alt="logo")
        p.footer__text Аккредитованн EBRD, Член Ассоциации KIT Казахстан

      .footer__col 
        p.footer__title Офисы
        p.footer__text 
          |г.Алматы, ул.Айманова 126, 502 офис
          br
          br
          |г.Нур-Султан, ул.Конаева 12, ВП-23

      .footer__col 
        p.footer__title Контакты
        a.footer__link.underline(href="#") 7059hello@franchise24.kz
        a.footer__link(href="#") +7 (701) 101 7059
    .footer__copyright 
      p.footer__text @franchise24 2020. All rights reserved
      a.footer__link.underline(href="#") Политика конфиденциальности 
