//- Matrix block
.matrix.container 
  p.matrix__title <b>Матрица работ</b> которую мы проделаем в вашем бизнесе
  p.matrix__descr Каждая компания должна иметь автоматизированные бизнесс-процессы. И не обязательно перед запуском франшизы, эти процессы необходимы для роста вашей компании!
  .matrix-shema 
    .matrix-shema__step 
      p Создание стратегии продаж
    .matrix-shema__step 
      p Потенциал рынка
    .matrix-shema__step 
      p Отстройка от конкурентов
    .matrix-shema__step 
      p Активация каналов продаж
    .matrix-shema__step 
      p Оцифровка бизнеса и управление
    .matrix-shema__step 
      p Усиление продуктовой линейки
    .matrix-shema__step 
      p Автоматизация продаж
    .matrix-shema__step 
      p Маркетинговые работы
    .matrix-shema__step.red 
      p Франшиза