//- Results block

.results.container 
  p.results__title Гарантированные результаты
  .results__list 
    .results-item 
      p Рост конверсии продаж на 30% за 3 месяца
    .results-item 
      p Рост конверсии маркетинговых метрик в продажи
    .results-item 
      p Узнаваемость бренда и усиление имиджа на рынке
    .results-item 
      p Полностью автоматизированный отдел продаж
    .results-item 
      p Подключение и автоматизация новых каналов продаж
    .results-item 
      p Структурированная CRM-Система
