//- Silder block

.slider#instr
  .container
    .slider__header
      .slider__title Предоставим <b>инструменты</b> для работы с франчайзи
      .slider__control-btn 
        button.slider__button.slider__prev#prev-slide-1
          img(src="img/prev-arrow.svg", alt="prev slide")
        button.slider__button.slider__next#next-slide-1
          img(src="img/next-arrow.svg", alt="next slide")

    .slider__inner.glider

      .slide 
        img(src="img/slider/slide1.png", alt="slide img 1")
        p.slide__title База знаний
        p.slide__text Уникальная разработка компании ЦРФ - хранилище материалов компании, необходимых для запуска и работы франчайзинговой точки

      .slide 
        img(src="img/slider/slide2.png", alt="slide img 2")
        p.slide__title Landing page
        p.slide__text Адаптивная и яркая промо страница, изменения в которую вносятся в течении считанных минут, благодаря уникальной системе редактирования

      .slide 
        img(src="img/slider/slide3.png", alt="slide img 3")
        p.slide__title Книга франчайзи
        p.slide__text Книга с описанием процесса запуска бизнеса и его ведения со ссылкой на необходимые материалы для работы

      .slide 
        img(src="img/slider/slide1.png", alt="slide img 1")
        p.slide__title База знаний
        p.slide__text Уникальная разработка компании ЦРФ - хранилище материалов компании, необходимых для запуска и работы франчайзинговой точки

      .slide 
        img(src="img/slider/slide2.png", alt="slide img 2")
        p.slide__title Landing page
        p.slide__text Адаптивная и яркая промо страница, изменения в которую вносятся в течении считанных минут, благодаря уникальной системе редактирования
        
      .slide 
        img(src="img/slider/slide3.png", alt="slide img 3")
        p.slide__title Книга франчайзи
        p.slide__text Книга с описанием процесса запуска бизнеса и его ведения со ссылкой на необходимые материалы для работы

      .slide 
        img(src="img/slider/slide1.png", alt="slide img 1")
        p.slide__title База знаний
        p.slide__text Уникальная разработка компании ЦРФ - хранилище материалов компании, необходимых для запуска и работы франчайзинговой точки

      .slide 
        img(src="img/slider/slide2.png", alt="slide img 2")
        p.slide__title Landing page
        p.slide__text Адаптивная и яркая промо страница, изменения в которую вносятся в течении считанных минут, благодаря уникальной системе редактирования
        
      .slide 
        img(src="img/slider/slide3.png", alt="slide img 3")
        p.slide__title Книга франчайзи
        p.slide__text Книга с описанием процесса запуска бизнеса и его ведения со ссылкой на необходимые материалы для работы