//- Solutions block

.solutions.container 
  p.solutions__title Комплексные и отдельные решения
  p.solutions__subtitle 
    |Что в вашем бизнесе больше нуждается в улучшении работы?
    br
    |Мы выстраиваем процессы как комплексно, так и по отдельности каждый бизнес-процесс
  .solutions__row 
    .solutions-item 
      p.solutions-item__title Отдел продаж
      .solutions-item__list 
        p Исследование продукта, рынка, формирование УТП, система мотивации
        p Пересборка задач и инструментов отдела продаж
        p Внедрение инструментов для активных продаж
        p Внедрение CRM-системы
        p Разработка и тонкая настройка системы мотивации и KPI
        p Подготовка клинетской базы и каналов для привлечения новых клиентов
        p Сопровождение, менторинг и экспертное сопровождение
      
    .solutions-item 
      p.solutions-item__title Маркетинг
      .solutions-item__list 
        p Создание воронки продаж
        p Работа по всем этапам воронки продаж
        p Разработка продающего коммерческого предложения
        p Пересборка(создание) лендинга, сайтов
        p Запуск новых каналов рекламного трафика в зависимости от специфики бизнеса
        p Полная аналитика маркетинга и продаж
        p Сопровождени, менторинг и экспертное сопровождение