//- start-welcome block
.container.welcome.welcome-start
  .title-row 
      img.title-row__img(src="img/forbes_label.png", alt="forbes label")
      a.title-row__phone-link(href="tel:87011017059") 
        img(src="img/phone_icon.svg", alt="phone-icon")
        |+7 701 101 7059
  .welcome__inner
    p.welcome__title Подготовка бизнеса к запуску франшизы
    p.welcome__subtitle 
      |Верните свои инвестиции в упаковку франшизы со второй 
      |продажи
    div
      button.red-button.modal-trigger(href="#") Обсудить вопрос


