//- Statistic block

.stat.container 
  p.stat__title Почему нам доверяют?
  .stat__list 

    .stat-item 
      .stat-item__inner 
        p.stat-item__count > 30
        p.stat-item__descr человек в команде: эксперты в управлении, маркетинге, IT, HR, кризис-менеджеры
    
    .stat-item 
      .stat-item__inner 
        p.stat-item__count > 200
        p.stat-item__descr Проведенных экспертиз, проектов внедрения и консалтинга
    
    .stat-item 
      .stat-item__inner 
        p.stat-item__count > 25000
        p.stat-item__descr Часов консалтинга
      
    .stat-item 
      .stat-item__inner 
        p.stat-item__count > 20
        p.stat-item__descr Видов услуг
      
    .stat-item 
      .stat-item__inner 
        p.stat-item__count > 300
        p.stat-item__descr Отработанных заказов по маркетингу
      
    .stat-item 
      .stat-item__inner 
        p.stat-item__count > 13
        p.stat-item__descr Лет на рынке