//- steps block

.steps 
  .container 
    p.steps__title <b>Поможем</b> вашему бизнесу <b>решить</b> важные <b>задачи</b>

    .steps-item 
      p.steps-item__title Запуск
      .steps-item__descr
        p.steps-item__subtitle Как <b>запустить</b> франшизу, что требуется для масштабирования?
        p.steps-item__text Разрабатываем стратегию масштабирования, анализируя все возможные варианты роста бизнеса

    .steps-item 
      p.steps-item__title Систематизация
      .steps-item__descr
        p.steps-item__subtitle Как и <b>что передавать</b> партнерам, в каком виде?
        p.steps-item__text Алгоритмизиция процессов, внедрение системы планирования и иные работы по систематизации

    .steps-item 
      p.steps-item__title Упаковка
      .steps-item__descr
        p.steps-item__subtitle Как оценить франшизу? Как выстраивать <b>отношения</b> с партнерами?
        p.steps-item__text Разработка предложения для  партнеров, инвесторов. Разработка системы управления партнерской сети. Разработка тарифных пакетов, плана продвижения

    .steps-item 
      p.steps-item__title Продажа
      .steps-item__descr
        p.steps-item__subtitle Как <b>продавать</b> франшизу и где взять компетентных специалистов для продажи?
        p.steps-item__text После упаковки франшизы мы формируем отдел продаж и запускаем процесс масштабирования Вашего бизнеса. Долгосрочные эффективные отношения с нашими клиентами - наша основная задача