//- Tariff block

.tariff.container 
  p.tariff__title Наши тарифы
  .tariff__wrapper

    .tariff-card 
      p.tariff-card__title Подготовка бизнеса к <b>масштабированинию</b>
      p.tariff-card__descr Систематизация бизнес-процессов, описание бизнеса и технологий
      button.tariff-card__btn Получить КП

    .tariff-card.red 
      p.tariff-card__title Упаковка франшизы <b>“под ключ”</b>
      p.tariff-card__descr Упакуем бизнес во франшизу «под ключ»: подготовка к франшизе всего бизнеса, систематизация процессов + маркетинг + автоматизация
      button.tariff-card__btn Получить КП

    .tariff-card 
      p.tariff-card__title “Под ключ” и <b>активная продажа</b>
      p.tariff-card__descr Упаковка франшизы "под ключ" и активная реклама в Яндекс, Google, Facebook и instagram на 3 месяца, рекламный бюджет включен
      button.tariff-card__btn Получить КП