//- welcome block
.container.welcome
  .row.justify-content-between.align-items-start.title-row 
    img.title-row__img(src="img/forbes_label.png", alt="forbes label")
    a.title-row__phone-link(href="tel:87011017059") 
      img(src="img/phone_icon.svg", alt="phone-icon")
      |+7 701 101 7059
  .welcome__inner
    h1.welcome__title Упаковка вашего <br> бизнеса во франшизу
    .welcome__subtitle 
      |Верните свои инвестиции в упаковку франшизы со второй 
      |продажи
    .welcome__next-title И дальнейшая <br> продажа
    div
      a.red-button(href="#") Забронировать презентацию


