//- welcome block
.container.welcome
  .title-row 
    img.title-row__img(src="img/forbes_label.png", alt="forbes label")
    a.title-row__phone-link(href="tel:87011017059") 
      img(src="img/phone_icon.svg", alt="phone-icon")
      |+7 701 101 7059
  .welcome__inner
    h1.welcome__title Упаковка вашего <br> бизнеса во франшизу
    p.welcome__subtitle 
      |Верните свои инвестиции в упаковку франшизы со второй 
      |продажи
    p.welcome__next-title И дальнейшая <br> продажа
    div
      button.red-button.modal-trigger(href="#") Забронировать презентацию


