@import _variable.sass

.feedback
  padding-bottom: 120px
  &__title 
    margin-bottom: 60px
    font-size: 60px
    line-height: 71px
    color: $text_color
    b
      font-weight: 900
  &-slide
    background: $lightgray
    text-align: center
    color: $black
    font-size: 150px
    height: 364px
  .slider__button
    margin: 20px 20px 0 0