@import ../_variable.sass

.slider
  padding-top: 120px 
  padding-bottom: 150px
  &__header
    display: flex
    justify-content: space-between
    margin-bottom: 60px
  &__title
    width: 550px
    font-size: 36px
    line-height: 42px
    color: $text_color
  &__control-btn
    display: flex
    flex-wrap: nowrap
  &__button
    width: 71px
    height: 71px
    margin-left: 20px
    background: $lightgray
    border-radius: 50%
    border: none
  &__inner
    padding-left: 120px
  .slide
    max-width: 330px
    margin-right: 46px
    img
      max-height: 382px
      margin-bottom: 20px 
    &__title
      margin-bottom: 12px
      font-weight: 900
      font-size: 18px
      line-height: 21px
      color: $text_color
    &__text
      font-size: 18px
      line-height: 21px
      color: $text_color
      opacity: 0.8