@import ../_variable.sass

.steps
  background: $black
  padding: 120px 0
  color: #fff
  &__title
    font-size: 60px
    line-height: 71px
    b
      font-weight: 900
  &-item
    display: flex
    margin-top: 120px
    &__title
      flex-grow: 1
      text-shadow: -1px 0 0 #fff, 0 -1px 0 #fff, 1px 0 0 #fff, 0 1px 0 #fff
      font-size: 64px
      line-height: 75px
      font-weight: 900
      color: $black
    &__descr
      width: 471px
    &__subtitle
      margin-bottom: 20px
      font-size: 32px
      line-height: 38px
    &__text
      font-size: 18px
      line-height: 25px
      opacity: 0.8
